.testimonial-content img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 15px;
}

.testimonial-content{
  text-align: justify;
  background-color: white;
  line-height: 24px;
  padding: 30px;
  height: 300px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.testimonial-row{
padding: 10px 130px;
}

.testimonial-container{
  background-color: rgb(245, 233, 233);
}

@media only screen and (max-width: 576px) {

  .testimonial-row{
    padding: 5px;
  }

  .testimonial-content{
    flex-direction: column;
    height: 100%;
  }
  
}
@media only screen and (min-width: 577px) and (max-width:991px) {

  .testimonial-row{
    padding: 5px;
  }

  .testimonial-content{
    flex-direction: column;
    height: 100%;
  }
  
}
