.footer{
  height: 80px;
  background-color: rgb(244, 255, 184);
  display: flex;
  justify-content: space-between;
  padding: 20px 200px;

}

.social-icons{
  margin-right: 10px;
  color: rgb(158, 11, 11);
  cursor: pointer;
}

@media only screen and (max-width:576px){
  .footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
  }
}