@media only screen and (max-width:576px){

  .slider-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  
  }

  .slider-header{
    font-size: 13px;
  }

  .slider-text{
    font-size: 10px;
  }
  
  
}